#modalHeader {
    color: red;
    margin-left: 22%;
}

#msbutton {
    background-color: blue;
    color: white;
    margin-left: 42%;
    border: px solid black;
    border-radius: 8px;
}

#msbutton:hover {    
background-color: lightblue;
color: black;
}